{#
/**
 * @file views-bootstrap-cards.html.twig
 * Default simple view template to display Bootstrap Cards.
 *
 *
 * - rows: Contains a nested array of rows. Each row contains an array of
 *   columns.
 *
 * @ingroup views_templates
 */
#}
{% if use_card_group %}
  {% set counter = 0 %}
  {% for row in rows %}
    {% if counter == 0 %}
      <div{{ attributes }}>
    {% endif %}
    {# begin card #}
    <div{{ row.attributes }}>
      {% if row.image %}
        <span class="card-img-top">{{ row.image }}</span>
      {% endif %}
      <div class="card-body">
        {% if row.title %}
          <h5 class="card-title">{{ row.title }}</h5>
        {% endif %}
        {% if row.content %}
          <div class="card-text">
            {{- row.content -}}
          </div>
        {% endif %}
      </div>
    </div>
    {% set counter = counter + 1 %}
    {% if counter == columns or loop.last %}
      </div>
      {% set counter = 0 %}
    {% endif %}
  {% endfor %}
{% else %}
  <div{{ row_attributes }}>
  {% for key, row in rows %}
    <div{{ col_attributes }}>
      <div{{ row.attributes }}>
        {% if row.image %}
          <span class="card-img-top">{{ row.image }}</span>
        {% endif %}
        <div class="card-body">
          {% if row.title %}
            <h5 class="card-title">{{ row.title }}</h5>
          {% endif %}
          {% if row.content %}
            <div class="card-text">
              {{- row.content -}}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if (key + 1) % columns == 0 and not loop.last %}
      </div><div{{ row_attributes }}>
    {% endif %}
  {% endfor %}
  </div>
{% endif %}
